/* hex values for theme */
/*#025e96*/
/*#9e7ea8*/
/*#dbb1b7*/
/*#fbeee6*/


/*#025e96*/
/*#626aa1*/
/*#9178a7*/
/*#b48bab*/
/*#cea0b0*/
/*#e1b9bb*/
/*#efd4cd*/
/*#fbeee6*/
/*body {*/
/*    background-color: #fbeee6;*/
/*}*/


body {
    font-family: 'Playfair Display', serif;
    min-height: 95%;
    /*background-color: rgba(156,142,148, .05);*/
}

h1, section a {
    color: #003f5c;
}


section {
    /*background-color: #fbeee655;*/
    border: 1px solid gray;
}

.navbar-name{
    padding-left: .95rem;
    border-left: 1px solid grey;
}
#mainNavbar{
    /*!*background-color: rgb(248, 249, 250);*!*/
    /*background-color: #025e96dd;*/
    /*font-size: 10rem;*/
}

/*medium break: 768px lg break 992px sm break: 576 */
@media(max-width: 992px){
    .navbar-name{
        border-left: none;
        padding-left: .5rem;
    }
    /*.navbar-brand{*/
    /*    padding-left: .5rem;*/
    /*}*/
}

#banner {
    /*background: url("../img/shapelined-_JBKdviweXI-unsplash.jpg") center center / cover no-repeat;*/
    /*background: url("../img/s-o-c-i-a-l-c-u-t-gREi-9tI5Mg-unsplash.jpg") center center / cover no-repeat;*/
    /*background-color:#B1A296;*/
    background-color: rgba(240,241,241,1);
}

#resumeContainer iframe {
    /*position: absolute;*/
    width: 100%;
    height: 100%;
}

#resumeContainer{
    /*position: relative;*/
    height: 95%;
}

#aboutContainer {
    height: 68%;
    background: aliceblue;

}

footer {
    background-color: rgba(240,241,241,1);
    /*position: absolute;*/
    /*bottom: 0*/
}
